
html, body {
/*	background-color: red;
	color: white;
	height: 100%;*/
}


table {
    margin: auto;
}


th {
    font-size: 200%;
    padding: 5px;
}


td {
  padding: 5px;
}


table, td {
	border: 1px solid black;
}

